<html ng-app="demo">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable = no">
		<link rel="stylesheet" href="node_modules/tether/dist/css/tether.css" />
		<link rel="stylesheet" href="dist/angular-datepicker.css" />
		<link rel="stylesheet" href="demo/stylesheet.css" />
	</head>
	
	<body>
		<div style="display: flex; flex-wrap: wrap;" ng-if="vm.initialized">
			<div>
				<h4>Date<br>{{vm.date}}</h4> 
	
				<h4>Element - date <a href ng-click="vm.setDate()">reset</a></h4>
				<a href="#" date-picker date="vm.date0" highlighted="vm.highlighted" on-date-select="vm.onDateSelect(date, 'date0')" style="color: blue">{{vm.date0}}</a>
				<div>
					<input type="text" date-picker date="vm.date0" ng-model="vm.dateModel0" on-range-select="vm.onRangeSelect(start,end, 'date0')" highlighted="vm.highlighted" />
				</div>

				<h4>Add date</h4>
 				<a href="#" date-picker highlighted="vm.adder_highlighted" on-date-select="vm.onAdderDateSelect(date)" style="color: blue">+Add date</a>
 				<div ng-repeat="date in vm.adder_highlighted">{{date}}</div>

				<h4>on-date-select<br>date='{{vm.date1}}'<br>element='{{vm.dateModel1}}'</h4>
				<input type="text" date-picker date="vm.date1" ng-model="vm.dateModel1" on-date-select="vm.onDateSelect(date, 'date1')" highlighted="vm.highlighted" />

				<h4>on-range-select<br>date='{{vm.date2}}'<br>element='{{vm.dateModel2}}'</h4>
				<div>
					<input type="text" date-picker date="vm.date2" ng-model="vm.dateModel2" on-range-select="vm.onRangeSelect(start,end, 'date2')" highlighted="vm.highlighted" />
				</div>
				<date-picker date="vm.date2" highlighted="vm.highlighted" on-date-select="vm.onDateSelect(date, 'date2')"></date-picker>

				<h4>With Defaults='{{2016-02-10}}'<br>date='{{vm.date3}}'<br>element='{{vm.dateModel3}}'</h4>
				<div>
					<input type="text" date-picker date="vm.date3" default-date="2016-02-10" on-date-select="vm.onDateSelect(date, 'date3')" ng-model="vm.dateModel2" highlighted="vm.highlighted" />
				</div>
				<date-picker date="vm.date3" highlighted="vm.highlighted" on-date-select="vm.onDateSelect(date, 'date3')"></date-picker>

				<h4>Min View - Months<br>date='{{vm.date4}}'<br>element='{{vm.dateModel4}}'</h4>
				<div>
					<div date-picker date="vm.date4" on-date-select="vm.onDateSelect(date, 'date4')" min-view="months" style="color: blue">{{vm.getMonthYear(vm.date4)}}</div>
				</div>
				<div>
					<input type="text" date-picker date="vm.date4" on-date-select="vm.onDateSelect(date, 'date4')" ng-model="vm.dateModel3" min-view="months" />
				</div>
				<date-picker date="vm.date4" min-view="months" on-date-select="vm.onDateSelect(date, 'date4')" highlighted="vm.highlighted"></date-picker>
			</div>
			
			<div>
				<h4>Range</h4> {{vm.start}} - {{vm.end}}
	
				<h4>Element</h4>
				<a href="#" date-picker start="vm.start" end="vm.end" on-range-select="vm.onRangeSelect(start,end)" highlighted="vm.highlighted" style="color: blue">{{vm.start}} - {{vm.end}}</a>
	
				<h4>Input</h4>
				<input type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" on-range-select="vm.onRangeSelect(start,end)" highlighted="vm.highlighted" />
                
                <h4>Empty Input</h4>
				<input type="text" date-picker start="vm.start" end="vm.end" on-range-select="vm.onRangeSelect(start,end)" ng-model="vm.rangeModel" />
	
				<h4>Inline</h4>
				<date-picker start="vm.start" end="vm.end" highlighted="vm.highlighted" on-range-select="vm.onRangeSelect(start,end)"></date-picker>
			</div>
			
			<a href="#" ng-hide="vm.show" ng-click="vm.show=true" class="sidebar-show">show</a>
			
			<div class="sidebar" ng-if="vm.show">
				<a href="#" ng-click="vm.show=false">hide</a>
				
				<h4>Visibility</h4>
	
				<h4>Input</h4> 
				
				<div>
					<input type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" highlighted="vm.highlighted" />
				</div>
				
				<div>
					<input style="float:right;" type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" highlighted="vm.highlighted" />
				</div>
				
			</div>
            
            <div>
				<h4>Time</h4>
	
				<h4>Input</h4>
				 <form name="timeForm1">
					<input name="time1" type="text" time-picker time="vm.time1" ng-model="vm.timeModel1" />
					<div>time = '{{vm.time1}}'</div>
					<div ng-if="timeForm1.$invalid">
						<div ng-if="timeForm1.time1.$error.invalidTime">invalidTime</div>
					</div>
				</form>

				<h4>Input (required)</h4>
				<form name="timeForm2">
					<input name="time1" type="text" time-picker time="vm.time2" ng-model="vm.timeModel2" required/>
					<div>time = '{{vm.time2}}'</div>
					<div ng-if="timeForm2.$invalid">
						<div ng-if="timeForm2.time1.$error.invalidTime">invalidTime</div>
					</div>
				</form>

				<h4>Input (required={{vm.time3Required}})</h4>
				<form name="timeForm3">
					<input name="time1" type="text" time-picker time="vm.time3" ng-model="vm.timeModel3" ng-required="vm.time3Required" />
					<div>time = '{{vm.time3}}'</div>
					<div ng-if="timeForm3.$invalid">
						<div ng-if="timeForm3.time1.$error.invalidTime">invalidTime</div>
					</div>
					<a href="#" ng-click="vm.time3Required = !vm.time3Required">toggle required</a>
				</form> 

				<h4>Submit test</h4>
				<form name="timeForm4" ng-submit="vm.showTime4()" novalidate>
					<input name="time4" type="text" time-picker time="vm.time4" ng-model="vm.timeModel4" />
					<div>time = '{{vm.time4Submit}}'</div>
					<input type="submit" name="" id="" value="Submit" /> <div ng-show="timeForm4.$submitted">submitted = '{{vm.time4Submit}}'</div>
				</form>

				<h4>ng-change vs on-change test</h4>
				<form name="timeForm4" ng-submit="vm.time5Submit()" novalidate>
					<input name="time4" 
						type="text" 
						time-picker 
						time="vm.time5" 
						ng-model="vm.timeModel5" 
						ng-change="vm.ngChange5(vm.time5)"
						on-change="vm.onChange5(time)" />
					<div>time = '{{vm.time5}}'</div>
					<div>ngChange5Result = '{{vm.ngChange5Result}}'</div>
					<div>onChange5Result = '{{vm.onChange5Result}}'</div>
					<input type="submit" name="" id="" value="Submit" />
				</form>
			</div>
		</div>
	
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="node_modules/moment/moment.js"></script>
		<script type="text/javascript" src="node_modules/tether/dist/js/tether.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="node_modules/angular-typescript-module/dist/angular-typescript-module.js"></script>
		<script type="text/javascript" src="dist/angular-datepicker.js"></script>
		<script type="text/javascript" src="dist/angular-datepicker.templates.js"></script>
		<script type="text/javascript" src="demo/app.js"></script>
	</body>

</html>