<html ng-app="demo">

	<head>
		<link rel="stylesheet" href="bower_components/tether/dist/css/tether.css" />
		<link rel="stylesheet" href="dist/angular-datepicker.css" />
		<link rel="stylesheet" href="demo/stylesheet.css" />
	</head>
	
	<body>
	
		<div style="display: flex;">
			<div>
				<h1>Date</h1> {{vm.date}}
	
				<h1>Element</h1>
				<a href="#" date-picker date="vm.date" highlighted="vm.highlighted">{{vm.date}}</a>
	
				<h1>Input date 1</h1>
				<div>date='{{vm.date}}', element='{{vm.dateModel}}'</div>
				<input type="text" date-picker date="vm.date" ng-model="vm.dateModel" highlighted="vm.highlighted" />
				<date-picker date="vm.date" highlighted="vm.highlighted" on-date-select="vm.onDateSelect(date)"></date-picker>

				<h1>Input date 2 (with default)</h1>
				<input type="text" date-picker date="vm.date2" default-date="2016-02-10" ng-model="vm.dateModel2" highlighted="vm.highlighted" />
				<date-picker date="vm.date2" highlighted="vm.highlighted" on-date-select="vm.onDate2Select(date)"></date-picker>

				<h1>Input date 3</h1>
				<div>date='{{vm.date3}}', element='{{vm.dateModel3}}'</div>
				<input type="text" date-picker date="vm.date3" ng-model="vm.dateModel3" min-view="months" />
				<date-picker date="vm.date3" min-view="months"></date-picker>
			</div>
			
			<div>
				<h1>Range</h1> {{vm.start}} - {{vm.end}}
	
				<h1>Element</h1>
				<a href="#" date-picker start="vm.start" end="vm.end" highlighted="vm.highlighted">{{vm.start}}</a>
	
				<h1>Input</h1>
				<input type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" highlighted="vm.highlighted" />
                
                <h1>Empty Input</h1>
				<input type="text" date-picker start="vm.start1" end="vm.end1" ng-model="vm.rangeModel1" />
	
				<h1>Inline</h1>
				<date-picker start="vm.start" end="vm.end" highlighted="vm.highlighted" on-range-select="vm.onRangeSelect(start,end)"></date-picker>
			</div>
			
			<a href="#" ng-hide="vm.show" ng-click="vm.show=true" class="sidebar-show">show</a>
			
			<div class="sidebar" ng-if="vm.show">
				<a href="#" ng-click="vm.show=false">hide</a>
				
				<h1>Visibility</h1>
	
				<h1>Input</h1> 
				
				<div>
					<input type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" highlighted="vm.highlighted" />
				</div>
				
				<div>
					<input style="float:right;" type="text" date-picker start="vm.start" end="vm.end" ng-model="vm.rangeModel" highlighted="vm.highlighted" />
				</div>
				
			</div>
            
            <div>
				<h1>Time</h1>
	
				<h1>Input</h1>
				<input type="text" time-picker time="vm.time" ng-model="vm.timeModel" />
                <div>time = '{{vm.time}}'</div>
			</div>
		</div>
	
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/moment/moment.js"></script>
		<script type="text/javascript" src="bower_components/tether/dist/js/tether.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-typescript-module/dist/angular-typescript-module.js"></script>
		<script type="text/javascript" src="dist/angular-datepicker.js"></script>
		<script type="text/javascript" src="dist/angular-datepicker.templates.js"></script>
		<script type="text/javascript" src="demo/app.js"></script>
	</body>

</html>